.home-nav{
    display: flex;
    justify-content: space-between;
}
.logo-section{
    border:1px solid red;
    display: flex;
}
.logo-movie{
    display: inline;
}
.signin-section{
    display:flex ;
}